<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul>
        <li>Game Name: <%= @name %></li>
        <li>Game State: <%= @state %></li>      
      </ul>
      <button phx-click="place_armies" class="btn btn-warning">Place Armies</button>
      <button phx-click="order_attack" class="btn btn-warning">Order Attack</button>
      <button phx-click="end_turn" class="btn btn-warning">End Turn</button>


    </div>
  </div>
</div>